#card-wrap {
  margin-top: 105px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  gap: 10px;
  width: 1070px;
  height: 450px;
  margin-left: 50px;
  transition: transform 0.3s ease
}
.card-body {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 10px;
  
}
#card-wrap:hover{
  transform: scale(1.1);
}
.card-title {
  width: 400px;
  height: 40px;
  font-family: "Roboto" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: rgb(218, 116, 32);
  
}
.card-text {
  width: 601px;
  height: 57px;
  font-family: "Roboto" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: justify;
  color: #333333;
}
#img-card{
  width: 300px;
  height: 300px;
}
#img-bacia{
  width: 320px;
  height: 365px;
}