#footer {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 1598px;
  height: 348px;
}
.contain-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  width: 526px;
  height: 240px;
}
#logo {
  width: 200px;
  height: 200px;
}
.co {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 470px;
  height: 126px;
  border-bottom: 0.5px solid #787878;
  box-sizing: border-box;
}
.co-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 470px;
  height: 126px;
  border-bottom: 0.5px solid #787878;
  box-sizing: border-box;
}
.contato {
  width: 107px;
  height: 28px;
  font-family: "Roboto" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 15px;
}

.telefone {
  margin-bottom: -25px;
}
.email {
  margin-top: 20px;
}

.cidade {
  margin-top: -17px;
}
.icons {
  display: flex;
  justify-content: space-between;
  width: 100px;
}
.icons svg {
  width: 20px;
  height: 30px;
  cursor: pointer;
}
.links {
  text-decoration: none;
  color: inherit;
}
.col {
  color: #ffffff;
  width: 496px;
  height: 126px;
  margin-left: 100px;
  display: flex;
  padding: 16px 0px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}
.col h2 {
  font-family: "Roboto" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 5px;
  margin-bottom: 20px;
}
.CPNJ{
  font-size: small;
}
.col p{
  cursor: pointer;
}